<section class="container mx-auto flex gap-5">
  <div class="m-4 leading-5 tracking-wide w-[50vw]">
    <p><span class="text-3xl text-indigo-400 font-bold uppercase mr-4 ">Clipz</span> is an app to share your
      gaming
      clips.
    </p>
    <p class="">It may be yours plays, from your friends or even an amazing or funny play from
      someone you played with!</p>
    <p class="tracking-widest latest mt-5 mb-5"></p>
    <p class="">Clipz is a project created in Zero To Mastery Angular course. In the course I learned the
      latest features in
      Angular like Routing, Directives, Pipes, Services, Ahead of Time & Just in Time Compilation. Also about Angular
      Design Patterns and how to deal with Memory Leaks in my projects to improve their performance. The course taught
      to use WebAssembly, Rust, Rxjs and Streams in my applications to boost performance and combine with the power of
      Angular.</p>
  </div>
  <div class='mt-5'>
    <p
      class="text-5xl mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300 font-bold mr-4 p-5">
      Go ahead and <br /><span class="text-6xl text-indigo-400 font-bold uppercase mr-4"> share it </span><br />with
      everyone!</p>
  </div>
</section>
<section>
  <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Author</h1>

  <div class="flex flex-col justify-center items-center h-screen">
    <div class="border border-blue-300 shadow rounded-md p-4 max-w-sm w-full mx-auto">
      <div class="animate-pulse flex space-x-4">
        <img class="card-img-top rounded-full w-36" src="../../assets/img/author_img.jpg" alt="" />
        <div class="rounded-full bg-red-700 h-10 w-10"></div>
        <div class="flex-1 space-y-6 py-1">
          <div class="h-2 bg-green-700 rounded"></div>
          <div class="space-y-3">
            <div class="grid grid-cols-3 gap-4">
              <div class="h-2 bg-green-700 rounded col-span-2"></div>
              <div class="h-2 bg-green-700 rounded col-span-1"></div>
            </div>
            <div class="h-2 bg-green-700 rounded"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img class="card-img-top rounded-full w-56 " src="../../assets/img/author_img.jpg" alt="" />
  <p>Hi!! My name is Rafael Lima and I'm a front end developer 😁</p>
  <p>Please, feel free to provide feedback to me at:</p>
  <ul>
    <li>LinkedIn</li>
    <li>GitHub</li>
    <li>Email</li>
  </ul>

</section>